/bpnn_model_evaluation_2.csv
/bpnn_model_evaluation_3.csv
/bpnn_model_evaluation_1.csv
/bpnn.ipynb
/classification_report_1.csv
/classification_report_2.csv
/classification_report_3.csv
/bpnn_random_search_results_1.csv
/bpnn_random_search_results_2.csv
/bpnn_random_search_results_3.csv
/output_cm_2.png
/output_cm_3.png
/data